OPENAI_API_KEY="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"
SUPABASE_URL="https://hjwadgknsrfgpswnmafu.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhqd2FkZ2tuc3JmZ3Bzd25tYWZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDE4ODQsImV4cCI6MjA3NTQxNzg4NH0.TEGXtJq-wWMb4fYZDyWyV-ANTXvP2V9C4kAW9zpqqYI"